/* Nav Principal */
#nav_main{
    background-color: #ffdb99;

}

/* Itens da Nav */
#nav_main li{
    height: 100px;
    padding: 5% 0 0 0;
}

/* Links dos Itens da Nav */
#nav_main li a{

    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #f85d57;
    font-weight: bold;
    text-shadow: #ffefbd -3px 2px 1px;
}

/* Links dos Itens da Nav : Mouse em Cima*/
#nav_main li a:hover{

    color: #ffb5e8 !important;
}

/* Item Com Logo na Nav */
#li_nav_logo{

    background-image: url(../media/logo.png);
    width:300px;
    height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Div Principal (Inicial) */
#div_main{
    margin: 30px 0 0 0;
}

/* Linha do Div Principal (Abriga as Duas Colunas)*/
#div_main_row{
    width:90%;
}

/* Primeira Coluna do Div Principal (Texto)*/
#div_main_col_1{

    background-color: #ffefbd;
    padding: 3% 5%;
    text-align: center;
    font-family: 'Poppins';
}

/* Título da 1ª Coluna do Div Principal*/
#div_main_col_1 h1{

    font-family: 'Open Sans', sans-serif!important;
    color:#27bec6 ;
    text-shadow: #f85d57 -4px 4px 0px;
} 

/* Botão 'Saiba Mais' da 1ª Coluna do Div Principal */
#btn_saiba_mais{

    background-color: #ffdb99;
    border: none;
    padding: 6px 12px;
    color: #f85d57;
    box-shadow: #f85d57 -4px 4px 0px;
}

/* Botão 'Saiba Mais' da 1ª Coluna do Div Principal : Mouse em Cima*/
#btn_saiba_mais:hover{

    background-color: #f85d57 ;
    color:  #ffefbd;
    box-shadow: #ffdb99 -4px 4px 0px;
}

/* Segunda Coluna do Div Principal (foto) */
#div_main_col_2{

    background-image: url(../media/karol.png);
    background-position: right top;
    background-size: 350px;
    background-repeat: no-repeat;

}


@font-face{

    font-family: Nickainley;
    src: url('fonts/Nickainley-Normal.eot');
    src: url('fonts/Nickainley-Normal.eot?#iefix') format('embedded-opentype'),    
         url('fonts/Nickainley-Normale.woff2') format('woff2'),
         url('fonts/Nickainley-Normal.woff') format('woff'),
         url('fonts/Nickainley-Normal.ttf') format('truetype');

}