/* Nav Principal */
#nav_main{
    background-color: #ffdb99;

}

/* Itens da Nav */
#nav_main li{
    height: 100px;
    padding: 5% 0 0 0;
}

/* Links dos Itens da Nav */
#nav_main li a{

    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #f85d57;
    font-weight: bold;
    text-shadow: #ffefbd -3px 2px 1px;
}

/* Links dos Itens da Nav : Mouse em Cima*/
#nav_main li a:hover{

    color: #ffb5e8 !important;
}

/* Item Com Logo na Nav */
#li_nav_logo{

    background-image: url(../media/logo.png);
    width:300px;
    height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Div Principal (Inicial) */
#div_main{
    margin: 30px 0 0 0;
}

/* Linha do Div Principal (Abriga as Duas Colunas)*/
#div_main_row{
    width:90%;
}

/* Primeira Coluna do Div Principal (Texto)*/
#div_main_col_1{

    background-color: #ffefbd;
    padding: 3% 5%;
    text-align: center;
    box-shadow: #f85d57 -10px 10px 0px;
}

/* Texto Comum */
p{

    font-family: 'Poppins';
}

/* Títulos Principais*/
.titulo_main{

    font-family: 'Open Sans', sans-serif!important;
    color:#27bec6 ;
    text-shadow: #f85d57 -4px 4px 0px;
    text-align: center;
} 

/* Títulos Secundários */
.titulo_2{

    font-family: 'Nickainley';
    color:#f85d57  ;
    text-shadow: #27bec6 -1px 1px 0px;
    text-align: center;
}

/* Estilo Principal de Botão */
.button_main{
    
    text-align: center;
    font-size: 15px;;
    font-family: 'Poppins';
    background-color: #ffdb99;
    border: none;
    padding: 6px 12px;
    color: #f85d57;
    box-shadow: #f85d57 -4px 4px 0px;
}

/* Estilo Principal de Botão : Mouse em Cima*/
.button_main:hover{

    background-color: #f85d57 ;
    color:  #ffefbd;
    box-shadow: #ffdb99 -4px 4px 0px;
}

/* Segunda Coluna do Div Principal (foto) */
#div_main_col_2{

    background-image: url(../media/karol.png);
    background-position: center center;
    background-size: 350px;
    background-repeat: no-repeat;

}

/* Div 'Como Participar' */
#div_como_participar{

    margin: 5% 0 0 0;
    background-color: #ffdb99;
    padding: 2% 15%;
    text-align: justify;

}

/* Div 'Saiba Mais' */
#div_saiba_mais{

    margin: 5% 0 0 0;
    padding: 2% 15%;
    background-color: #ffdb99;
    text-align: center;
    
}
/* Div 'Saiba Mais' Nome Karoline */
#div_saiba_mais span{

    font-size: 130%;
    font-family: 'Nickainley';
    color:#f85d57  ;
    text-shadow: #27bec6 -1px 1px 0px;
}

/* Div dos 'Números Dispoíveis' */
#div_num_disp{

    padding: 2% 15%;
    align-content: center;
    background-size: 100%;
}

#div_num_disp div div{

    font-family: 'Open Sans', sans-serif!important;
    text-align: center;
    background-image: url(../media/postit.jpg);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position:center center ;
    padding: 20px 25px;

}

#div_como_participar div div div{

    height: 320px;
    background-size: 320px;
    background-position: center -50px;
    background-repeat: no-repeat;
    margin: 5% 5%;
}

#div_premio_foto1{
    
    background-image: url(../media/livro1.jpeg);
}

#div_premio_foto2{

    
    background-image: url(../media/livro2.jpeg);
}

#div_num_2,
#div_num_3,
#div_num_4,
#div_num_7,
#div_num_9,
#div_num_12,
#div_num_64,
#div_num_37,
#div_num_132,
#div_num_179,

{
    visibility: hidden;
}

@font-face{

    font-family: Nickainley;
    src: url('fonts/Nickainley-Normal.eot');
    src: url('fonts/Nickainley-Normal.eot?#iefix') format('embedded-opentype'),    
         url('fonts/Nickainley-Normale.woff2') format('woff2'),
         url('fonts/Nickainley-Normal.woff') format('woff'),
         url('fonts/Nickainley-Normal.ttf') format('truetype');

}