/* Nav Principal */
#nav_main{
    display: none;
}

/* */

/* Div com Dropdown de Menu para Smallscreen */
#nav_smallscreen{

    display: block!important;
}

/* Botão do Dropdown */
#nav_smallscreen button {

    height: 80px;
    width: 100%!important;
    background-color: #ffdb99;
    background-image: url(../media/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 225px;
    text-align: right;
    border: none;
}


/* Div com os Itens da Nav Dropdown*/
#nav_smallscreen div{

    width:100%;
    font-family: 'Poppins', sans-serif;
}

/* Segunda Coluna do Div Principal (foto) */
#div_main_col_2{
    height: 600px;
    background-position: top center!important;
}
